#slide-out-actions.side-nav {
  //width: 100% !important;
}

#sidenav-overlay {
  background: none;
}

.side-nav {
  z-index: 998;
}


#slide-out-actions {
  top: 78px;
  width: ~"calc(100% - 335px)" !important;
  height: 98%;
}

.slider {
  .slider-cross {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: all 0.6s;
  }
}