#slide-out-actions.side-nav {
  //width: 100% !important;
}

#sidenav-overlay {
  background: none;
}

.side-nav {
  z-index: 998;
}


#slide-out-actions {
  top: 78px;
  width: ~"calc(100% - 335px)" !important;
  height: 98%;
  background: #F9FAFB !important;

  .lnr-bubble {
  color:#62dbb2;
  padding-right:15px;
  font-size:1.5em;
  }
}

.slider {
  .slider-cross {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: all 0.6s;
  }
}

.collection {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.btn {
  background: #62dbb2 !important;
  border-radius: 50px !important;
  }