goose3
alembic==0.9.6
bcrypt==3.1.4
beautifulsoup4==4.5.3
blinker==1.4
cffi==1.11.2
click==6.7
cssmin==0.2.0
flask==0.12.1
flask-assets==0.12
flask-bcrypt==0.7.1
flask-caching==1.3.3
flask-debugtoolbar==0.10.1
flask-gravatar==0.4.2
flask-login==0.4.0
flask-migrate==2.0.3
flask-script==2.0.6
flask-sqlalchemy==2.2
flask-wtf==0.14.2
gunicorn==19.7.1
html5lib==1.0b10
itsdangerous==0.24
jinja2==2.9.6
jsmin==2.2.2
lassie==0.11.4
mako==1.0.7
markupsafe==1.0
psycopg2==2.7.1
pycparser==2.18
python-dateutil==2.6.1
python-editor==1.0.3
python-oembed==0.2.4
requests==2.13.0
six==1.11.0
sqlalchemy==1.1.9
webassets==0.12.1
webencodings==0.5.1
werkzeug==0.12.1
wtforms==2.1
