
.CodeMirror,
.CodeMirror-scroll {
    max-height: 150px;
    min-height: 150px;
}

.CodeMirror-fullscreen.CodeMirror {
    max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}

ul:not(.browser-default) {
	padding: 1em !important;
}

ul:not(.browser-default) li {
	list-tyle:disc !important;
}