.sidebar-action {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background: white;  
    position: fixed;
    min-width: 300px;
    max-width: 350px;
    left: 0;
    top: 0;
    z-index: 999;
    padding: 1% 0;
    /*box-shadow: -18px 0 119px rgba(0, 0, 0, .2);*/
    border-right: 1px solid lightgrey;
    transition: all 0.2s;


    &.sidebar-minified {
        max-width: 20px;
        padding: 1%;
        min-width: 20px;
        & .sidebar-action-content, & .sidebar-action-footer {
            display: none;
        }
    }

    .sidebar-action-header {
        position: relative;
        text-align: center;
        width: 100%;

        h2 {
            font-size: 2em;
            color: #838683;

        }

        .toggler-arrow {
            display:inline-block;
            position: absolute;
            right: 10px;
            top: -10px;
            font-size: 1.2em;
        }

        .sidebar-action-header-img {
            position: relative;

            .sidebar-action-header-img-conf {
                transition: all 0.2s;
                position: absolute;
                min-height: 26px;
                min-width: 26px;
                font-size: 0.5em;
                border-radius: 50%;
                background: white;
                display: flex;
                color: black;
                flex-direction: column;
                justify-content: center;
                top: 52px;
                left: 40px;
                box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
                opacity: 0;
            }
            &:hover .sidebar-action-header-img-conf {
                opacity: 1;
            }
        }
    }

    .sidebar-action-content {
        flex-grow: 0;
        width: 100%;

        p {
            margin-top: 25px;
            text-align: center;
            min-height: 30px;

            &:hover {
                border-left: 4px solid #9c27b0;
            }
        }

        .main-tag-list {
            padding: 0 5%;
            transition: all 0.2s;

            li {
                cursor: pointer;
            }

            .sub-tag-list {
                display: none;
                li {
                    padding-left: 20px;
                    cursor: pointer;
                }

                &.active {
                    opacity: 1;
                    display: block;
                }
            }
        }

        // & p:last-child {
        //     margin-top: 5em;
        // }

        .sidebar-action-content-entry {
            display:flex;
            flex-wrap: nowrap;

            span {
                flex: 1;
                flex-grow: 0;
                margin: 0 20px;

            }

            a {
                text-align: left;
                flex-grow: 1;
            }
        }
    }

    .sidebar-action-spacer {
        flex-grow: 1;
    }

    .sidebar-action-footer {
        flex-grow: 0;

        .sidebar-action-copyright {
            font-weight: 3em;
        }
    }
    
}

input.flatpicker.flatpickr-input {
    border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}

.action-search.input-field {
    input {
        border-bottom-color: rgba(0, 0, 0, 0.2) !important;
    }
}