{% from 'user_macros.html' import intention %}
{% extends "layout.html" %}
{% block css %}
    {% assets "user_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        <script src="https://use.fontawesome.com/a911e2def4.js"></script>
    {% endassets %}
{% endblock %}
{% block content %}
        <div style="padding: 0 5%">
        <h2 class="en-tete">J'agis</h2>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s4"><a class="active" href="#actions">Passer à l'action</a></li>
                    <li class="tab col s4"><a href="#test2">Recherche une action</a></li>
                    <li class="tab col s4"><a href="#create">Créer une action</a></li>
                </ul>
                </div>
                <div id="actions" class="col s12">
                    {% for row in actions| batch(4) %}
                        <div class="row">
                        {% for action in row %}
                            <div class="col s3">
                             <div class="card">
                                <div class="card-content white-text">
                                    <span class="card-title">{{action.title}}</span>
                                    <p>{{action.description}}</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">
                                        {% if action.has_been_realised_today() %}
                                            Réalisé !
                                        {% else %}
                                            Non réalisé
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <p>Participer à ou créer une nouvelle action !</p>
                    {% endfor %}
                    </div>
                </div>
                <div id="test2" class="col s12">Test 2</div>
                <div id="create" class="col s12">
                    <div class="row">
                        <h4>Je définis mon action</h4>
                        <div class="input-field col s6">
                          <input id="title" type="text">
                          <label class="active" for="first_name2">Son intitulé</label>
                        </div>
                        <div class="input-field col s6">
                          <textarea id="description"></textarea>
                          <label class="active" for="description">Sa description</label>
                        </div>
                    </div>
                </div>
        </div>
        </div>



        <ul class="beneficials">
            <li>
                <div class="fa fa-plus-circle fa-3x"></div>
                <div>BENEFICES</div>
            </li>
            <li>
                <div class="fa fa-user fa-3x" style="color: #36ab9f"></div>
                <div>156</div>
            </li>

            <li >
                  <div class="fa fa-handshake-o fa-3x" style="color: #36ab9f"></div>
                <div>156</div>
            </li>

            <li >
                  <div class="fa fa-leaf fa-3x" style="color: #36ab9f"></div>
                <div>156</div>
            </li>
        </ul>

{% endblock %}