{% from 'user_macros.html' import intention %}
{% extends "layout.html" %}
{% block css %}
    {% assets "user_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        <script src="https://use.fontawesome.com/a911e2def4.js"></script>
    {% endassets %}

    <style>
        .picker__date-display {
            background-color: white;
            color: #d24141 !important;
        }

        .picker__footer {
            display: none !important;
        }

        .picker__holder {
            position: static !important;
            border: 0 !important;
        }

        .picker__month-display {
            font-size: 1rem;
        }

        .picker__day-display {
            font-size: 2em;
        }

        .picker__year-display {
            font-size: 2em;
            color: #d24141 !important;
        }

        .datepicker {
            display: none !important;
        }

        .picker {
            font-size: 14px !important;
        }

        .picker__box {
            border: none;
            box-shadow: none;
        }

        .picker__wrap {
            margin-top: 50px !important;
        }

        .picker__table {
            font-size: 0.8rem;
        }
        .picker__header {
            /*margin-left: 38px !important;*/
        }

        .picker__weekday-display {
            display: none !important;
        }

        .picker__day--selected {
            background-color: #d24141 !important;
        }
    </style>
{% endblock %}
{% block content %}
        <h2 class="en-tete" style="background-color: #d24141"><img src="{{url_for('static', filename='img/ampoule-idee.png')}}">J'agis</h2>        
        <div class="boxed-layout">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s4"><a class="active" href="#actions">Passer à l'action</a></li>
                    <li class="tab col s4"><a href="#test2">Recherche une action</a></li>
                    <li class="tab col s4"><a href="#create">Créer une action</a></li>
                </ul>
                </div>
                <div id="actions" class="col s12">
                    <div class="row">
                        <div class="col s3">
                            <input class="datepicker"/>    
                        </div>
                        <div class="col s9">
                            <div id="actions-card">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test2" class="col s12">Test 2</div>
                <div id="create" class="col s12" style="padding: 0 25%">
                    <h6>Je définis mon action</h6>
                    <div class="row">
                        
                        
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <input id="title" type="text">
                          <label class="active" for="first_name2">Son intitulé</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea id="description" class="materialize-textarea" rows="10"></textarea>
                          <label class="active" for="description">Sa description</label>
                        </div>
                    </div>
                </div>
        </div>
        </div>
{% endblock %}

{% block js %}
    <script src="{{url_for('static', filename='libs/moment/min/moment.min.js')}}"></script>
    <script>
    $(document).ready(function() {
    // page is now ready, initialize the calendar...
       var $input = $('.datepicker').pickadate({
            klass: {
                picker: "picker picker--opened",
                opened: "__always-open__"
            }
            });
       /*var picker = $input.pickadate('picker');

       var elem = picker.$root;*/
    });
    </script>
    <script src="{{url_for('static', filename='js/require.js')}}"></script>
    <script src="{{url_for('static', filename='libs/hyperscript/bundle.js')}}"></script>

    <script>
        var h = require('hyperscript');
        var hh = require('hyperscript-helpers')(h);

        var div  = hh.div,
            span = hh.span,
            h1   = hh.h1
            p    = hh.p,
            a    = hh.a;

        console.log('hello');
        var state = {};

        function setState(object) {
            state = Object.assign({}, state, object);
        }

        function cardNode(action) {
            var buttonText = "Réalisé";
            return ( 
                div(".card", {}, [
                    div(".card-content.white-text", {}, [
                        span(".card-title", {style: {'color': 'black'}}, action.title),
                        p("", {style: {'color': 'black'}}, action.description)
                        ]
                    ),
                    div(".card-action", {}, [
                        a("",  {href: "#"}, buttonText)
                        ]
                    )
                ])
            );             
        }

        function partitionList(input, spacing) {
           var output = [];

            for (var i = 0; i < input.length; i += spacing) {
                output[output.length] = input.slice(i, i + spacing);
            }
            return output;
        }

        function actionsList(actions) {
            return div('', {}, 
                partitionList(actions, 4).map(subactions => 
                    div(".row", {style: {'margin-top': '50px !important'}}, subactions.map(action => 
                        div('.col.s4',  {}, cardNode(action))
                    ))
                )
            );
        }

        function refreshActions(actions) {
            var node = document.getElementById('actions-card');
            var fc = node.firstChild;
            while(fc) {
                node.removeChild(fc);
                fc = node.firstChild;
            }
            node.appendChild(actionsList(actions));
        }

        $.getJSON('/users/actions/get', function(data) {
            setState({actions: data});
            refreshActions(state.actions);
        });

    </script>

{% endblock %}