{% extends "layout.html" %}
{% block css %}
    <style>
        .picker__date-display {
            background-color: white;
            color: #31c7d5 !important;
        }

        #main-picker-container .picker__footer {
            display: none !important;
        }

        #main-picker-container .picker__holder {
            position: static !important;
            border: 0 !important;
        }

        #main-picker-container .picker__month-display {
            font-size: 1rem;
        }

        #main-picker-container .picker__day-display {
            font-size: 2em;
        }

        #main-picker-container .picker__year-display {
            font-size: 2em;
            color: #31c7d5 !important;
        }

        #main-picker.datepicker {
            display: none !important;
        }

        #main-picker-container .picker {
            font-size: 14px !important;
        }

        #main-picker-container .picker__box {
            border: none;
            box-shadow: none;
        }

        #main-picker-container .picker__wrap {
            margin-top: 50px !important;
        }

        #main-picker-container .picker__table {
            font-size: 0.8rem;
        }

        #main-picker-container .picker__weekday-display {
            display: none !important;
        }

        .picker__day--selected {
            background-color: #31c7d5 !important;
            color:#FFF !important;
        }
        .picker__day.picker__day--today {
            font-weight:700;
            color:#31c7d5;
        }

        #main-picker-container .picker__frame {
            width: 325px;
            max-width: 325px;
        }
    </style>
    <link href="/static/bundles/css/actions.css" rel="stylesheet"/>
{% endblock %}

{% block js %}
    <script src="/static/bundles/actions.js"></script>
{% endblock %}