{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">    
    <link href="/static/bundles/css/currentActions.css" rel="stylesheet"/>
    <style>
        .en-tete, .main-nav {
            display: none !important;
        }
    </style>
{% endblock %}

{% block js %}

    <!-- Theme included stylesheets -->
    <script src="/static/bundles/currentActions.js"></script>
{% endblock %}