{% from 'user_macros.html' import intention %}
{% extends "layout.html" %}
{% block css %}
    
{% endblock %}
{% block content %}

<h2 class="en-tete"><img src="{{url_for('static', filename='img/ampoule-idee.png')}}">Je m'inspire</h2>
<div class="boxed-layout">
<div class="initiative" style="margin-top:50px">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#alaune"><i class="fa fa-eye fa-2x" style="margin-right:20px"></i><span class="mobile-off">A la une</span></a></li>
        <li class="tab col s4"><a  href="#recherche"><i class="fa fa-search fa-2x" style="margin-right:20px"></i><span class="mobile-off">Rechercher</span></a></li>
        <li class="tab col s4"><a href="#ajout"><i class="fa fa-plus-circle fa-2x" style="margin-right:20px"></i><span class="mobile-off">Ajouter d'un document</span></a></li>
      </ul>
    </div>
    <div id="alaune" class="col s12"></br>
        <h3  style="text-align:center;color:#57a3b6">A la une</h3>
        <div style="text-align:center">
        <a class="btn bouton-rond">Portraits</a><a class="btn bouton-rond">Initiatives</a><a class="btn bouton-rond">Ressources documentaires</a></div>
        </br></br>
        <div class="row" style="border-bottom:1px solid #DDD;padding-bottom: 10px">
          <div class="col m2 s12" style="margin-top:50px">
            <i class="fa fa-link" aria-hidden="true"></i><b>  ARTICLE</b>
          </div>
          <div class="col m4 s12">
           <span><img src="{{url_for('static', filename='img/montreal-poubelle-BW.jpg')}}" width="240px"></span>
          </div>
          <div class="col m6 s12">
            <p>Des peluches au ventre rempli de plastiques pour sensibiliser les enfants à la pollution marine</p>
            <p><b>Mathieu DUBOIS le 13/07/17</b></p>
            <p style="color:#57a3b6;font-style: italic;">Environnement / Pollution</p>
            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i><b> 30</b><i class="fa fa-commenting-o fa-2x" aria-hidden="true" style="margin-left:30px"></i><b> 30</b>

          </div>
    </div>

<div class="row" style="border-bottom:1px solid #DDD;padding-bottom: 10px">
          <div class="col m2 s12" style="margin-top:50px">
            <i class="fa fa-link fa-3x" aria-hidden="true"></i>
          </div>
          <div class="col m4 s12">
           <span><img src="{{url_for('static', filename='img/montreal-poubelle-BW.jpg')}}" width="240px"></span>
          </div>
          <div class="col m6 s12">
            <p>Des peluches au ventre rempli de plastiques pour sensibiliser les enfants à la pollution marine</p>
            <p><b>Mathieu DUBOIS le 13/07/17</b></p>
            <p style="color:#57a3b6;font-style: italic;">Environnement / Pollution</p>
            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i><b> 30</b><i class="fa fa-commenting-o fa-2x" aria-hidden="true" style="margin-left:30px"></i><b> 30</b>

          </div>
    </div>

    <div id="recherche" class="col s12">Test 2</div>
    <div id="ajout" class="col s12">Test 3</div>
  </div>

</div>
</div>
{% endblock %}

{% block js %}
<script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
    });
</script>
{% endblock %}