{% from 'user_macros.html' import intention %}
{% extends "layout.html" %}
{% block css %}
    
{% endblock %}
{% block content %}

<h2 class="en-tete"><img src="{{url_for('static', filename='img/ampoule-idee.png')}}">Je m'inspire</h2>
<div class="boxed-layout">
<div class="initiative" style="margin-top:50px">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#alaune"><i class="fa fa-eye fa-2x" style="margin-right:20px"></i><span class="mobile-off">A la une</span></a></li>
        <li class="tab col s4"><a  href="#recherche"><i class="fa fa-search fa-2x" style="margin-right:20px"></i><span class="mobile-off">Rechercher</span></a></li>
        <li class="tab col s4"><a href="#ajout"><i class="fa fa-plus-circle fa-2x" style="margin-right:20px"></i><span class="mobile-off">Ajouter d'un document</span></a></li>
      </ul>
    </div>
    <div id="alaune" class="col s12" style="text-align:center"></br>
        <h3 style="font-weight:800;font-size:30px;color:#57a3b6">A LA UNE</h3>
        <a class="btn bouton-rond">Portraits</a><a class="btn bouton-rond">Initiatives</a><a class="btn bouton-rond">Ressources documentaires</a>
    </div>
    <div id="recherche" class="col s12">Test 2</div>
    <div id="ajout" class="col s12">Test 3</div>
  </div>

</div>
</div>
{% endblock %}

{% block js %}
<script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
    });
</script>
{% endblock %}