
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% block page_title %}
  
    hozons
  
    {% endblock %}
  </title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bundles/css/currentActions.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
  <script src="https://use.fontawesome.com/a911e2def4.js"></script>
  
  
  {% block css %}
  {% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">

  {% include 'nav.html' %}

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="notifications">
    {% for category, message in messages %}
      <div class="card-panel teal">
        <div class="white-text">
          <p>{{message}}</p>
        </div>
      </div>    
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div id="message"></div>
<div id="container"></div>

{% block content %}
{% endblock %}

{% if current_user and current_user.is_authenticated %}
<script>
  window.currentUser = JSON.parse({{current_user.to_json(exclude=('password'))|tojson|safe}});
  console.log(window.currentUser);
</script>
{% endif %}

{% block js %}
  <script src='/static/bundles/home.js'></script>
{% endblock %}
  <script>
     $(document).ready(function(){
        $('.modal').modal();
        $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrainWidth: true, // Does not change width of dropdown to that of the activator
          hover: false, // Activate on hover
          gutter: 0, // Spacing from edge
          belowOrigin: true, // Displays dropdown below the button
          alignment: 'left', // Displays dropdown with edge aligned to the left of button
          stopPropagation: false // Stops event propagation        
        });
        $('.tooltipped').tooltip({delay: 50});
        setTimeout(function() {$('.notifications .card-panel').fadeOut()}, 5000);


    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.js"></script>
  <script>
    var observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();
  </script>
</body>
</html>

