    <!-- Modal Structure -->
  {% if not current_user or not current_user.is_authenticated %}
  <div id="login" class="modal modal-login">
    <div class="modal-content">
      <form id="loginForm" method="POST" class="navbar-form form-inline navbar-right" action="/" role="login">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row" style="padding: 0 15%">
          <div class="input-field col s12">
            {{ form.username(class_="form-control") }}
            <label>Nom</label>
          </div>
          <div class="input-field col s12">
            {{ form.password(class_="form-control") }}
            <label>Mot de passe</label>
          </div>
        </div>
        <div class="row" style="padding: 0 15%; text-align: right">
          <button type="submit" class="btn waves waves-effect">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li class="dropdown-item"><a href="{{url_for('user.profile')}}">Profil</a></li>
    <li class="dropdown-item"><a href="{{url_for('user.profile')}}">Connexions</a></li>
    <li class="dropdown-item"><a href="{{url_for('user.profile')}}">Messages</a></li>
    <li class="dropdown-item"><a href="{{url_for('user.profile')}}">Groupes</a></li>    
    <li class="divider"></li>
    <li class="dropdown-item"><a href="{{url_for('public.logout')}}">Se déconnecter</a></li>
  </ul>

  <ul id='connection' class='dropdown-content'>
    <li class="dropdown-item"><a href="#login">Se connecter</a></li>
    <li class="dropdown-item"><a href="{{url_for('public.register')}}">S'inscrire</a></li>
  </ul>
  <!-- end dropdown -->
    <nav class="main-nav">
      <div class="main-nav-wrapper">
        <a href="/" class="brand-logo"><img src="{{url_for('static', filename='img/logo-be-my-change-2.jpg')}}" alt="Be my Change"></a>
        <div class="hide-on-med-and-down">
          <div class="spacer"></div>
          <div>
            <a href="#">Accueil</a>
          </div>
          <div>
            <a href="#">A propos</a>
          </div>
          <div>
            <a href="#">Blog</a>
          </div>
          {%if current_user and current_user.is_authenticated %}
            <a class="waves-effect waves-light hbtn hbtn-main-color" href="{{url_for('user.inspire')}}">Je m'inspire</a>
            <a class="waves-effect waves-light hbtn hbtn-main-color" href="{{url_for('user.current_actions_view')}}">J'agis</a>
            <div>
                <a class='dropdown-button' href='#' data-activates='dropdown1'>
                    <div class="nav-header-img">
                        {% if True %}
                            <img class="circle" src={{current_user.email | gravatar(size=50, default=None, rating=None)}} />
                        {% else %}
                            <div class="avatar-spec avatar-spec-lg"
                              style="color: white; background-color: #5764c6;"
                              data-initial={{current_user.username[0:2] or ''}}
                            ><span class="nav-header-img-conf">
                              <i class="lnr lnr-cog"></i>
                            </span>
                            </div>
                        {% endif %}
                    </div>
                  <!-- <i class="lnr lnr-user fa-2x" style="margin-left:10px"></i> -->
                </a>
              </div>
              
          {% else %}
            <div>
              <a class='dropdown-button' href='#' data-activates='connection'>
                  <i class="lnr lnr-user fa-2x"></i>
                </a>
              </div>
          {% endif %}
        </ul>
      </div>
    </nav>

  