

{% macro intention(intention) %}
    <div class="intention">
        <div class="black-circle"></div>
        <div class="title" onclick="$(this).next().fadeToggle('fast')">{{ intention.title }}</div>
        <div style="display: none;">
        <div class="slider-t">
            <ul>
                <li>
                    <div class="step">
                        <div class="line">
                        </div>
                        <div class="title">
                            kesako
                        </div>
                    </div>

                </li>
                <li>
                    <div class="step">
                        <div class="line">
                        </div>
                        <div class="title" onclick="console.log($(this).parent().parent()[0].previousElementSibling.firstChild.nextElementSibling.firstChild.nextElementSibling.classList.add('selected-line'));">
                            J'en ai <br/>entendu parler
                        </div>
                    </div>

                </li>
                <li>
                    <div class="step">
                        <div class="line">
                        </div>
                        <div class="title" onclick="console.log($(this).parent().parent()[0].previousElementSibling.firstChild.nextElementSibling.firstChild.nextElementSibling.classList.add('selected-line'));">
                            Je pratique
                        </div>
                    </div>
                </li>
                <li>
                    <div class="step">
                        <div class="line" style="display: none;">
                        </div>
                        <div class="title" style="padding-top: 8px;" onclick="console.log($(this).parent().parent()[0].previousElementSibling.firstChild.nextElementSibling.firstChild.nextElementSibling.classList.add('selected-line'));">
                            Acquis
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="engagement">&rsaquo; Engagement : {{ intention.score }}%</div>
        <ul class="intention-results">
            <li class="ball">
                <div class="score">{{ intention.finished_actions }}</div>
                <div class="fa fa-thumbs-o-up"></div>
            </li>
            <li class="ball">
                <div class="score">{{ intention.contributions }}</div>
                <div class="fa fa-book"></div>
            </li>
            <li class="ball">
                <div class="score">{{ intention.helpers }}</div>
                <div class="fa fa-firefox"></div>
            </li>
        </ul>
        </div>
    </div>
{% endmacro %}

{% macro intention_list(sphere_title, intentions_by_kind = {}) %}
    <h3><div class="circle"><span>2</span></div>{{ 'Sphère' + sphere_title }}</h3>
    {% for kind, intentions in intentions_by_kind %}
        <h5><div class="circle"><span>2</span></div>kind</h5>
        <ul class="intention-list">
            <li style="min-height: 10px;">
            </li>
            {% for my_intention in intentions %}
                <li>
                    {{ intention(my_intention) }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endmacro %}