@import '../../css/variables';

#descriptionTarget {
  max-width: 100%;
  overflow: hidden;
  font-size: 0.95rem !important;

  h1 {
    font-size: 1.5rem !important;
  }

  h2 {
    font-size: 1.4rem !important;
  }

  h3 {
    font-size: 1.3rem !important;
  }

  h4 {
    font-size: 1.2rem !important;
  }

  h5 {
    font-size: 1.1rem !important;
  }

  h6 {
    font-size: 1rem !important;
  }

}

.action-info {
  padding: 0 5%;

  .action-info-title {
    text-transform:uppercase;
    text-align: left;
    font-weight:800;
    color:#FFF;
    font-size:2.5em;
    //margin-bottom: 60px;

    img {
      width: 114%;
      height: 250px;
      object-fit: cover;
      object-position: center center;
      margin-left: -7%;
      margin-top: -18px;
      margin-bottom: -140px;
      position: relative;
      z-index: -1;
      filter:contrast(70%);
    }
  }
  
  .action-info-author {
    font-style: italic;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom:50px;
  }

  .action-info-subtitle {
    padding-top: 50px;
    font-size: 1.3em;
    font-weight:800 !important;
    letter-spacing:-0.5px;
    text-transform:uppercase !important;
  }

  .action-info-description-container .mde-container {
    img {
    width:100%;
    }

    table, td, th {
      border: 1px solid lightgray;
      line-height: 0.6em;
    }

    thead {
      background:#fafafa;
    }
    
    /*background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);*/
    margin-top: 20px !important;
    border-radius: 10px;
    border: none !important;
      
  }
}


.action-info-journal-list {
  padding:1% 1% !important;
  .collection-item {
    .title {
      font-weight: 500;
    }
  }
}

.action-info-description {
  position:relative;
  border: 3px solid #F9FAFB;
  padding: 20px;
  border-radius: 5px;
  transition: all 0.3s;

  .action-info-description-edit {
    position: absolute;
    top: 0px;
    right: 10px;
    opacity: 0;
    transition: all 0.2s;
    cursor: pointer;
  }

  &.active {
    &:hover {
      border: 3px solid darkgrey;

      .action-info-description-edit {
        opacity: 1;
      }
    }
  }
}

.card-image-tag {
  display: inline-block;
  top: 10px;
  left: 10px;
  background-color: #333;
  font-size: 1em;
  font-weight:700;
  color:#FFF;
  border-radius: 50px;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;

  & + a {
    display: inline-block;
    margin-left: 20px;
  }
}

.edit-pencil {
  position: absolute;
  left: -10px;
  top:0px;
}

.action-info-description-container {
  position: relative;
}


.collection-item, .action-info-description-container {
  &:hover {
    .edit-button, .edit-button-trash {
      display: flex;
    }
  }
}

.mde-container {
  margin:1em !important;

  img {
    width:40% !important;
    float:left;
    margin-right:15px;
  }
  .edit-button {
    position: absolute;
    height: 33px;
    width: 33px;
    cursor: pointer;
    display: none;
  }

  .edit-button.edit-button-pencil {
    right: 5px;
    top: 40px;
    background:#333 !important;
  }

  .edit-button.edit-button-trash {
    right: 30px;
    top: 40px;
    background:#333 !important;
  }

  p ul:not(.browser-default) {
  padding: 0 2em !important;
  }

  p ul:not(.browser-default) li {
    line-height:1.5em;

    &::before {
      content: "•";
      padding-right:5px;
      color: #62dbb2;
    }
  }

  p a {
    text-decoration: none;
    //border-bottom: 1px solid #62dbb2;

    &::before {
    font-family: FontAwesome;
    content: "\f0c1 [";
    color:#333;
    font-weight:800;
    padding-right:5px;
    }

    &::after {
    content: " ]";
    font-weight:800;
    }
  }
}

.collection-item {
  margin-bottom:10px !important;
}

.slider .slider-cross {
  color:#FFF;
}

.action-info-menu {
  position:fixed;
  border-right:3px solid #333;
  overflow:hidden !important;
  left:0px;
  top:275px;
}